<script src="{{ root_url }}/javascripts/jquery.fancybox.pack.js"></script>
<script src="{{ root_url }}/javascripts/jquery.fancybox-thumbs.js"></script>
<script>
    	$('.fancybox').fancybox({
            openEffect  : 'none',
            closeEffect : 'none',
            prevEffect : 'none',
            nextEffect : 'none',
            helpers : {
                title : {
                    type : 'float'
                },
                thumbs : {
                    width : 50,
                    height : 50
                }
            }
 });
</script>

